<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 280}, {268, 240}}</string>
			<key>offset</key>
			<string>{-9, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{300, 278}</string>
		</dict>
		<key>1.png</key>
		<dict>
			<key>frame</key>
			<string>{{304, 2}, {300, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{300, 278}</string>
		</dict>
		<key>2.png</key>
		<dict>
			<key>frame</key>
			<string>{{606, 2}, {298, 274}}</string>
			<key>offset</key>
			<string>{1, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{300, 278}</string>
		</dict>
		<key>3.png</key>
		<dict>
			<key>frame</key>
			<string>{{304, 264}, {298, 272}}</string>
			<key>offset</key>
			<string>{-1, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{300, 278}</string>
		</dict>
		<key>4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 2}, {300, 276}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{300, 278}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>bosshit.png</string>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:241bb17f92f86f9916246fbaf8448136:1/1$</string>
		<key>textureFileName</key>
		<string>bosshit.png</string>
	</dict>
</dict>
</plist>
